SESSION_SECRET=your_session_secret
FACEBOOK_CLIENT_SECRET=your_facebook_client_secret
FACEBOOK_CLIENT_ID=your_facebook_client_id
FACEBOOK_CALLBACK_URL=http://localhost:3001/api/auth/facebook/callback
DATABASE_URL=postgres://postgres@localhost:5432/electrodomesticos
PORT=3001
EMAIL_USER=your_email@example.com
EMAIL_PASSWORD=your_email_app_password
